:root {
    
    --Desaturated-dark-blue-shadow: hsl(224, 28%, 35%);
    --Desaturated-dark-blue-bg: hsl(225, 21%, 49%);
    --Dark-red: hsl(6, 70%, 34%);    
    --Very-dark-desaturated-blue-main: hsl(222, 26%, 31%);
    --Very-dark-desaturated-blue-toggle: hsl(223, 31%, 20%);
    --Very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);
    --Grayish-orange: hsl(28, 16%, 65%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 90%);
    --Very-light-gray: hsl(0, 0%, 93%);
    --Red: hsl(6, 63%, 50%);
    --Very-dark-cyan: hsl(185, 58%, 25%);
    --Light-grayish-orange: hsl(30, 25%, 89%);
    --Dark-orange: hsl(25, 99%, 27%);
    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --Dark-grayish-orange: hsl(35, 11%, 61%);
    --Grayish-red: hsl(0, 5%, 81%);
    --Dark-moderate-cyan: hsl(185, 42%, 37%);
    --Dark-violet: hsl(281, 89%, 26%);
    --Orange: hsl(25, 98%, 40%);
    --Pure-cyan: hsl(176, 100%, 44%);
    --Light-grayish-yellow: hsl(45, 7%, 89%);
    --Very-dark-violet-bg: hsl(268, 75%, 9%);
    --Very-dark-violet-key: hsl(268, 47%, 21%);
    --Very-dark-violet-all: hsl(268, 71%, 12%);
    --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --Light-yellow: hsl(52, 100%, 62%);
    --Vivid-magenta: hsl(285, 91%, 52%);
    --Soft-cyan: hsl(177, 92%, 70%);
    --Dark-magenta: hsl(290, 70%, 36%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --global-rem: 1rem;
}

html {
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header--1 {
    color: var(--White);
}

.header--2 {
    color: var(--Very-dark-grayish-yellow);
}

.header--3 {
    color: var(--Light-yellow);
}

.header__h {
    font-family: 'League Spartan';
    font-weight: 700;
    FONT-SIZE: 32px;
}

.header__div {
    display: flex;
    padding-top: 8px;
}

.header__span {
    display: flex;
    justify-content: space-around;
}

.header__h5 {
    
    align-self: center;
    margin-right: 18px;
}

.header__buttons {
    width: fit-content;
    border-radius: 20px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
}

.header__buttons--1 {
    background-color: var(--Very-dark-desaturated-blue-toggle);
}

.header__buttons--2 {
    background-color: var(--Grayish-red);
}

.header__buttons--3 {
    background-color: var(--Very-dark-violet-all);
}

.header__buttons > button {
    margin: 3px;
    padding: 8px;
}

.header__button1--active {
    background: border-box;
    border-radius: 50%;
    background: var(--Red);
    border: 0px;
}

.header__button1--inactive{
    background: border-box;
    border-radius: 50%;
    background: var(--Red);
    border: 0px;
    opacity: 0;
}

.header__button1--inactive:hover {
    opacity: 1;
    cursor: pointer;
    background: #f96b5c;
}

.header__button1--active:hover {
    opacity: 1;
    cursor: pointer;
    background: #f96b5c;
}

.header__button2--active {
    background: border-box;
    border-radius: 50%;
    background: var(--Orange);
    border: 0px;
    opacity: 1;
}

.header__button2--inactive {
    background: border-box;
    border-radius: 50%;
    background: var(--Orange);
    border: 0px;
    opacity: 0;
}

.header__button2--inactive:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #fa8c3c;
}

.header__button2--active:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #fa8c3c;
}

.header__button3--inactive {
    background: border-box;
    border-radius: 50%;
    background: var(--Pure-cyan);
    border: 0px;
    opacity: 0;
}

.header__button3--active {
    background: border-box;
    border-radius: 50%;
    background: var(--Pure-cyan);
    border: 0px;
    opacity: 1;
}

.header__button3--inactive:hover {
    opacity: 1;
    cursor: pointer;
    background: #6febe5;
}

.header__button3--active:hover {
    opacity: 1;
    cursor: pointer;
    background: #6febe5;
}

.body {
    font-family: 'League Spartan';
    font-weight: 700;
}

.body--1 {
    background-color: var(--Very-dark-desaturated-blue-main);
}

.body--2 {
    background-color: var(--Light-gray);
}

.body--3 {
    background-color: var(--Very-dark-violet-bg);
}

.screen {
    height: 12vh;
    background: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0 1rem 0;
}

.screen--1 {
    background-color: var(--Very-dark-desaturated-blue-screen);
}

.screen--2 {
    background-color: var(--Very-light-gray);
}

.screen--3 {
    background-color: var(--Very-dark-violet-all);
}

.screen__h {
    font-size: 40px;
    margin-right: 20px;
    margin-left: 20px;
    overflow-x: auto;
}

.screen__h--1 {
    color: var(--White);
}

.screen__h--2 {
    color: var(--Very-dark-grayish-yellow);
}

.screen__h--3 {
    color: var(--Light-yellow);
}

button {
    font-size: 32px;
    font-family: 'League Spartan';
    font-weight: 700;
}

.grid {
    padding: 18.5px;
    height: 26.5rem;
    border-radius: 10px;
}

.grid--1 {
    background-color: var(--Very-dark-desaturated-blue-toggle);
}

.grid--2 {
    background-color:  var(--Grayish-red);
}

.grid--3 {
    background-color:  var(--Very-dark-violet-all);
}

.grid__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: var(--global-rem);
    margin-bottom: var(--global-rem);
}

.numpad {
    height: 4.5rem;
    width: auto;
    border-radius: 10px;
    border-top: none;
    border-width: 4px;
    border-right: none;
    border-left: none;
    border-bottom-style: inset;
    font-size: 3rem;
}

.numpad--1 {
    border-color: var(--Grayish-orange);
    background-color: var(--Light-grayish-orange);
    font-family: 'League Spartan';
    font-weight: 700;
    color: var(--Very-dark-grayish-blue);
}

.numpad--1:hover {
    cursor: pointer;
    background-color: var(--White);
}

.numpad--2 {
    border-color: var(--Dark-grayish-orange);
    background-color: var(--Light-grayish-yellow);
    font-family: 'League Spartan';
    font-weight: 700;
    color: var(--Very-dark-grayish-yellow);
}

.numpad--2:hover {
    cursor: pointer;
    background-color: #f9f6f2;
}

.numpad--3 {
    border-color: var(--Dark-magenta);
    background-color: var(--Very-dark-violet-key);
    font-family: 'League Spartan';
    font-weight: 700;
    color: var(--Light-yellow);
}

.numpad--3:hover {
    cursor: pointer;
    background-color: #6b34ac;
}

.grid__last-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 4.5rem;
    grid-gap: var(--global-rem);
}

.grid__last-line > button {
    border-radius: 10px;
}

.color-button {
    font-size: 22px;
    border-radius: 10px;
    border-top: none;
    border-width: 4px;
    border-right: none;
    border-left: none;
    border-bottom-style: inset;
}

.color-button--1 {
    color: var(--White);
    background-color: var(--Desaturated-dark-blue-bg);
    border-color: var(--Desaturated-dark-blue-shadow);
}

.color-button--1:hover {
    cursor: pointer;
    background-color: #a2b3e1;
}

.color-button--2 {
    background-color: var(--Dark-moderate-cyan);
    color: var(--White);
    border-color: var(--Very-dark-cyan);
}

.color-button--2:hover {
    cursor: pointer;
    background-color: #62b5bd;
}

.color-button--3 {
    background-color: var(--Dark-violet);
    color: var(--Light-yellow);
    border-color: var(--Vivid-magenta);
}

.color-button--3:hover {
    cursor: pointer;
    background-color: #8731b0;
}

.equal-button {
    border-radius: 10px;
    border-top: none;
    border-width: 4px;
    border-right: none;
    border-left: none;
    border-bottom-style: inset;
}

.equal-button--1 {
    background-color: var(--Red);
    color: var(--White);
    border-color: var(--Dark-red);
}

.equal-button--1:hover {
    cursor: pointer;
    background-color: #f96b5c;
}

.equal-button--2 {
    background-color: var(--Orange);
    color: var(--White);
    border-color: var(--Dark-orange);
}

.equal-button--2:hover {
    cursor: pointer;
    background-color: #fa8c3c;
}

.equal-button--3 {
    background-color: var(--Pure-cyan);
    color:Black;
    border-color: var(--Soft-cyan);
}

.equal-button--3:hover {
    cursor: pointer;
    background-color: #6febe5;
}

@media (min-width: 999px) {
    .body {
        font-family: 'League Spartan';
        font-weight: 700;
        margin: 0rem 21rem;
        padding-top: 3rem;
    }

    .grid {
        padding: 18.5px;
        height: 26.5rem;
        border-radius: 10px;
    }

    .numpad {
        height: 4.5rem;
        width: auto;
        border-radius: 10px;
        border-top: none;
        border-width: 4px;
        border-right: none;
        border-left: none;
        border-bottom-style: inset;
    }
    

}